* {
   text-align: center;
}

header, footer {
   background-color: #305d30;
}
header {
   height: 100px;
   width: 100%;
   border-bottom: 8px solid #e3c9a7;
 }

footer {
   height: 100px;
   width: 100%;
   border-bottom: 8px solid #3c3730;
}

.section-1{
   background-color: whitesmoke;
}

.section-2{
   background-color: #e3c9a7;
}
