* {
   margin: 0;
   padding: 0;
}

header {
   width: 100%;
   border-bottom: 10px solid #4F4846;
}

header, footer {
   height: 60px;
   width: 100%;
   line-height: 60px;
   background-color: #266150;
}
